/*----------  Local variables  ----------*/

$font-bold:               "Roboto-Bold", sans-serif;

$color-dark:              #313131;


/*----------  Local style  ----------*/

.root {
  padding: 20px 15px 40px;
  text-align: center;
}

.title {
  text: 700 center 36px;
  color: $color-dark;
  font-family: $font-bold;
  margin-top: 0;
}