.root {
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #7b706d;

  img {
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease;
  }

  .hover-card {
    position: absolute -2px;
    background: url('./question-mark.svg') center no-repeat;
    background-color: inherit;
    background-size: 30px;
    z-index: 1;
    transform: rotate(20deg);
    animation-duration: .4s;
  }

  &.active {
    opacity: 1 !important;

    img {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    opacity: 0.93;
  }

  /*&:before-c {
    position: absolute -13px * 13px -15px;
    width: 15px;
    background-color: inherit;
    z-index: -1;
    transform: skewY(45deg);
  }*/
}