/*----------  Container width  ----------*/

$desc-w:									800px;
$net-w:										500px;
$tab-w:										300px;
$smart-w:									100%;


/*----------  Columns  ----------*/

$gutters:									15px;
$anti-gutters:						-15px;


/*----------  Text  ----------*/



$font-regular:						"Roboto-Regular", sans-serif;
$font-medium:             "Roboto-Medium", sans-serif;
$font-bold:					      "Roboto-Bold", sans-serif;

$text-size:								14px;
$text-color:							#333;

/*----------  Colors  ----------*/







